<ion-header>
  <ion-navbar>
    <ion-title class="book-div" *ngIf="dataInfo">
      {{title}}
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="dataInfo-detail" *ngIf="dataInfo">
    <!--<div class="dataInfo-basic-info">
      <h1>{{dataInfo.title}}</h1>
    </div>-->

    <div class="custom-tabs">
      <a *ngFor="let tab of tabs | keys" (click)="changeTab(tab.key)" class="tab-item {{activated[tab.key]}}">
        {{tab.value}}
      </a>
    </div>


    <div *ngIf="tabID == 'overview'" #overview class="custom-tabs-content dataInfo-overview">

      <div class="dataInfo-overview-one">
        <ion-icon name="information-circle-outline"></ion-icon> Số tín chỉ: {{dataInfo.SoTinChi}}
      </div>

      <div class="dataInfo-overview-one">
        <ion-icon name="person"></ion-icon> GV chính: {{dataInfo.TenGVC}}
      </div>
      <div class="dataInfo-overview-one">
        <ion-icon name="person"></ion-icon> Trợ giảng: {{dataInfo.TenGVP}}
      </div>
      <!--<div class="dataInfo-overview-one">
        <ion-icon name="people"></ion-icon> Lớp: {{dataInfo.TenLop}} ({{dataInfo.NienKhoa}})
      </div>-->
      <div class="dataInfo-overview-one" *ngIf="dataInfo.sv_total > 0">
        <ion-icon name="people"></ion-icon> Tổng số SV: {{dataInfo.sv_total}}
      </div>

      <div class="tongsobuoi">
        <ion-icon name="calendar"></ion-icon> Tổng số buổi học: {{dataInfo.total_dd}}/{{dataInfo.TongSoBuoi}}
      </div>
      <div class="total_comat">
        <ion-icon name="checkmark-circle-outline"></ion-icon> Có mặt: {{dataInfo.total_comat}}/{{dataInfo.total_dd}}
        buổi
      </div>
      <div class="total_vp">
        <ion-icon name="radio-button-off"></ion-icon> Vắng phép: {{dataInfo.total_vp}}/{{dataInfo.total_dd}} buổi
      </div>
      <div class="total_vkp">
        <ion-icon name="radio-button-off"></ion-icon> Vắng không phép: {{dataInfo.total_vkp}}/{{dataInfo.total_dd}} buổi
      </div>

    </div>

    <div *ngIf="tabID == 'lichhoc'" class="custom-tabs-content dataInfo-lichhoc">
      <ion-refresher (ionRefresh)="refresh_lichhoc($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ul>
        <li *ngFor="let itn of dataInfo.lichhoc; let k = index"
          class="b-box dadiemdanh_{{itn.DaDiemDanh}} comat_{{itn.TrangThai_SV}}">
          <h4 class="b-box-title iti-title">
            {{itn.Ngay}} <span
              *ngIf="itn.TrangThai_SV != null && itn.TrangThai_SV != 0">({{itn.TrangThai_SV_Text}})</span>
          </h4>
          <div class="b-box-content iti-content">
            <div class="iti-des">
              Phòng học: {{itn.Phonghoc}}
            </div>
            <div class="iti-start">
              Tiết bắt đầu: {{itn.TietBatDau}}
            </div>
            <div class="iti-end">
              Tiết kết thúc: {{itn.TietKetThuc}}
            </div>
            <div class="iti-comat">

            </div>
            <div class="iti-note" *ngIf="itn.GhiChu">
              <b>Note*:</b> <i>{{itn.GhiChu}}</i>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="tabID == 'sinhvien'" class="custom-tabs-content dataInfo-sinhvien">
      <ion-refresher (ionRefresh)="refresh_dssv($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <!--<div class="lop-info">
        <h3>{{dataInfo.TenLop}}</h3>
        <div class="year">{{dataInfo.NienKhoa}}</div>
      </div>-->
      <ol class="sv-list" *ngIf="dataInfo.sinhvien.length > 0">
        <li class="m-box" *ngFor="let sv of dataInfo.sinhvien">
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
        </li>
      </ol>
    </div>


  </div>
</ion-content>
