/*h3.v-box-title{background: color($colors, primary);color:#fff;margin:0 -16px 10px;font-size:18px;padding:8px 16px}
*/

page-lopmonhoc-detail {
  .scroll-content {
    *background: #fff !important;
    padding: 0 0 16px !important
  }

  .v-box-title {
    font-size: 17px !important
  }

  h1 {
    font-size: 21px !important;
    color: #14b66a
  }

  .custom-tabs-content {
    box-shadow: none !important;
    padding: 10px 15px !important;
    margin: 0;
    text-align: justify !important
  }

  .v-box {
    background: #fff;
    border: 1px solid #dedede;
    border-width: 1px 0;
    margin: 20px 0;
    padding: 10px 10px 10px
  }

  .tour-overview-one {
    border-radius: 3px;
    background: #f3f3f3;
    ;
    color: #484848;
    *font-size: 13px;
    padding: 4px 10px 5px;
    margin: 3px 0
  }

  .tour-overview-one .icon {
    width: 14px !important;
    float: left;
    margin: 3px 3px 0 0
  }

  h4 {
    font-size: 17px !important
  }

  h5 {
    font-size: 15px !important;
    margin: 4px 0 !important
  }


  .b-box {
    position: relative;
    border-left: 2px solid #ddd;
    padding-left: 14px;
    padding-top:20px;
    /*margin-left:-2px;*/
    margin-bottom: -10px;
    padding-bottom: 20px;
  }

  .b-box-title {
    /*margin-bottom: 0 !important;
    /*color:color($colors, primary)*/
    position: absolute;
    top:-2px;
    margin-top:0!important;
    color: #aaa;
    font-weight: 600
  }

  .b-box:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important
  }

  .b-box.dadiemdanh_false:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -9px;
    background: #ddd;
    width: 16px;
    height: 16px;
    border-radius: 100%
  }

  .b-box.dadiemdanh_true:before {
    background: #fff;
    font-family: 'Ionicons';
    font-size:20px;
    font-weight:600;
    position: absolute;
    top: 1px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height:14px
  }

  .b-box.comat_1:before {
    content: '\f2ba';
    color: rgb(27, 155, 112);
  }

  .b-box.comat_-1:before {
    content: '\f360';
    color: rgb(240, 173, 78);
  }
  .b-box.comat_-2:before {
    content: '\f360';
    color: rgb(245, 61, 61);
  }

  .b-box.comat_1 {
    border-left-color: rgb(27, 155, 112);
  }
  .b-box.comat_1 .b-box-title, .b-box.comat_1 .iti-note > b {
    color: rgb(19, 124, 89);
  }

  .b-box.comat_-1 {
    border-left-color: rgb(240, 173, 78);
  }
  .b-box.comat_-1 .b-box-title, .b-box.comat_-1 .iti-note > b {
    color: rgb(240, 173, 78);
  }

  .b-box.comat_-2 {
    border-left-color: rgb(245, 61, 61);
  }
  .b-box.comat_-2 .b-box-title, .b-box.comat_-2 .iti-note > b {
    color: rgb(245, 61, 61);
  }


  .b-box-content {
    padding-left: 10px;
    font-size: 13px;
    color: #777
  }

  .dataInfo-lichhoc {
    padding-left: 20px !important;
    padding-top:20px!important
  }

  .lop-info h3 {
    font-size: 18px;
    margin: 5px 0 0 !important
  }

  .sv-list {
    padding-left: 25px;
    margin:5px 0 0!important
  }

  .sv-title {
    font-size: 16px !important;
    margin-bottom: 0 !important
  }

  .sv-masv {
    color: #999;
    font-size: 14px !important
  }

  .sv-ngaysinh {
    color: #999;
    font-size: 14px !important
  }
}
