<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="dataList">
      Lịch học
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="">
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->


  <div class="custom-tabs">
    <a *ngFor="let tab of tabs | keys" (click)="changeTab(tab.key)" class="tab-item {{activated[tab.key]}}">
      {{tab.value}}
    </a>
  </div>


  <div *ngIf="tabID == 'sang'" class="custom-tabs-content dataInfo-sang">

    <ion-grid class="tkb tkb_sang" *ngIf="dataList">

      <!-- title -->
      <ion-row>
        <ion-col></ion-col>
        <ion-col *ngFor="let day of daysName | keys">
          <div>
            {{day.value}}
          </div>
        </ion-col>
      </ion-row>
      <!-- số tiết -->
      <ion-row *ngFor="let i of [1,2,3,4,5,6]">
        <ion-col>Tiết {{i}}</ion-col>
        <ion-col *ngFor="let day of daysName | keys">
          <div *ngFor="let oneData of dataList[day.key].data">
            <div *ngIf="oneData.TietBD <= i && oneData.TietKT >= i">
              {{oneData.TenMH}}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div *ngIf="tabID == 'chieu'" class="custom-tabs-content dataInfo-chieu">

    <ion-grid class="tkb tkb_chieu" *ngIf="dataList">

      <!-- title -->
      <ion-row>
        <ion-col></ion-col>
        <ion-col *ngFor="let day of daysName | keys">
          <div>
            {{day.value}}
          </div>
        </ion-col>
      </ion-row>
      <!-- số tiết -->
      <ion-row *ngFor="let i of [7,8,9,10,11,12]">
        <ion-col>Tiết {{i}}</ion-col>
        <ion-col *ngFor="let day of daysName | keys">
          <div *ngFor="let oneData of dataList[day.key].data">
            <div *ngIf="oneData.TietBD <= i && oneData.TietKT >= i">
              {{oneData.TenMH}}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
